@{
    ViewData["Title"] = "Home Page";
}

<p class="fs-5 mb-4">Encontre palavras através de um filtro simples.</p>
<form>
  <div class="mb-3">
    <label for="mascara" class="form-label">Máscara</label>
    <input type="text" class="form-control" id="mascara">    
  </div>
  <div class="mb-3">
    <label for="letrasIgnoradas" class="form-label">Letras Ignoradas</label>
    <input type="text" class="form-control" id="letrasIgnoradas">
  </div>
  <div class="mb-3">
    <label for="letrasObrigatorias" class="form-label">Letras Obrigatórias</label>
    <input type="text" class="form-control" id="letrasObrigatorias">
  </div>
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<div class="py-5"> 
    <div class="container">
    <div class="row">
        <div class="col">
        Palavra
        </div>
        <div class="col">
        Palavra
        </div>
        <div class="col">
        Palavra
        </div>
        <div class="col">
        Palavra
        </div>
        <div class="col">
        Palavra
        </div>
        <div class="col">
        Palavra
        </div>
    </div>
    </div>
</div>